
html, body { height:100%; }
body { background:url('img/bg.jpg'); background-size:cover; color:#fff; }

#boardFrame { position:relative; padding:50px; background:url('img/board.jpg'); background-size:cover; background-position:center center; float:left; box-shadow:rgba(0,0,0,0.5) 0 0 10px 2px; margin:10px; border:1px solid #7F0E14; }
#board { width:100%; height:100%; max-width:100%; max-height:100%; text-align:center; border:1px solid #333; border-collapse:collapse; table-layout:fixed; z-index:-1; }
#board td { border:1px solid #C48304;  padding:0; }

#board .tile { position:relative; display:block; background:url('img/tile.jpg'); background-size:cover; }
#boardFrame .playerMarker { position:absolute; width:20px; height:25px; border-top-left-radius:20px; border-top-right-radius:20px; color:#fff; font-size:10px; line-height:25px; text-align:center; background:#000; }
#boardFrame .playerMarker.dead { background:#f00; opacity:0.8; }

#boardFrame .preview { opacity:0.7; }

#playerFrame { float:left; margin:10px 20px; background:url('img/playerframe.jpg'); background-size:cover; padding:20px; }
#playerHand { box-shadow:rgba(0,0,0,0.5) 0 0 3px 0; }
#playerHand td { border:1px solid #7F0E14; }
#playerHand .tile { background:url('img/tile.jpg'); background-size:cover; }
#playerHand .tile.selected { background:#A11A17; }

